/* Apply a basic reset */
html,
body {
  padding: 0;
  margin: 0;
}

.nav-container {
  max-width: 100vw; /* 100% of the viewport width */
  background-color: rgb(250, 135, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar {
  width: 100%;
  background-color: rgb(250, 135, 145); /* or any other color you prefer */
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.coupon-message {
  line-height: 0.5; /* Add line height to center the text vertically */
  text-align: center;
  margin: 0; /* Removes default margin */
  padding: 1px 0; /* Just a tad bit of padding for visual comfort */
  background-color: rgb(
    255,
    233,
    233
  ); /* Lighter shade for the coupon message */
  color: #333; /* Text color */
  font-size: 1em; /* Text size */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
  font-weight: bold; /* Make the font bold */
  white-space: nowrap; /* Ensure the text stays in one line */
  overflow: hidden; /* Hide the text outside the container */
  position: relative;
}

/* .coupon-message::before {
  content: attr(data-content);
  position: absolute;
  animation: marquee 10s linear infinite;
  display: inline-block;
  padding: 0 0; 
} */

.nav-logo {
  cursor: pointer;
  font-size: 2.4em;
  font-weight: bold;
  color: #fff; /* Adjusted text color for contrast */
}

.nav-logo,
.nav-menu {
  flex-grow: 1;
}

.nav-logo,
.nav-search,
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu {
  justify-content: flex-end; /* Right-align the navigation menu */
  gap: 20px; /* Spacing between links */
}

.nav-search {
  display: flex;
  width: 100%; /* Take the full width of the parent */
  flex-grow: 1; /* Allows search bar to take more space */
  position: relative;
  align-items: center;
  max-width: 600px; /* or your preferred width */
  margin: 0 auto; /* center the search bar */
  background-color: transparent; /* Transparent background */
  border-radius: 50px; /* Fully rounded ends */
  border: 2px solid #fff; /* Light grey border */
  font-size: 1em; /* Text size within the input */
  outline: none; /* Removes the outline on focus */
}

.search-input {
  width: 100%; /* Full width of its parent */
  padding: 10px 20px; /* Padding for the input text */
  font-size: 16px;
  border: none; /* No border */
  outline: none; /* No outline */
  background-color: transparent; /* Transparent background */
  border-radius: 25px;
}

/* No additional styles on focus or active states */
.search-input:focus,
.search-input:active {
  border: none;
  outline: none;
}

/* For resetting browser default styles */
input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
}

.search-button {
  padding: 10px;
  border: 2px solid #fff; /* Light grey border */
  border-radius: 0 20px 20px 0; /* Rounded corners on the right side */
  background-color: #fff; /* #f8a72e */
  outline: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* Styling the button on hover for better user feedback */
.search-button:hover {
  background-color: rgb(
    230,
    115,
    125
  ); /* A lighter shade of the main color for hover effect */
}

/* Ensuring the search icon inside the button is vertically centered */
.search-icon {
  vertical-align: middle;
}

.nav-link {
  font-weight: bold;
  color: #fff; /* Adjusted text color for contrast */
  font-size: 2em;
  transition: color 0.2s; /* Smooth transition for color change */
}

.nav-link:hover {
  color: #f2f2f2; /* Adjusted hover color for visibility */
  text-shadow: 0 0 5px #fff; /* Optional: Adds a glow effect on hover */
}
